@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Shadows+Into+Light&display=swap');
:root {
    --black-color: #000000;
    --white-color: #ffffff;
    --light-black: rgba(0, 0, 0, 0.832);
    --light: #c19d7f;
}
/* font-family: 'Caveat', cursive;
font-family: 'Shadows Into Light', cursive; */
html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
::-webkit-scrollbar {
    display: none;
}
body {
    background-image: url('https://i.imgur.com/UMnw0tW.jpg');
    font-family: 'Caveat';
    color: var(--black-color);
    user-select: none;
    font-weight: lighter;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.bd-text {
    text-align: center;
    margin-top: 10%;
    font-size: xxx-large;
    font-weight: lighter;
}
.suprisebtn {
    font-weight: bold;
}
.bi-arrow-right-circle {
    float: right;
    padding-right: 27px;
}
@media (max-width:720px) {
    .bi-arrow-right-circle {
        float: right;
        padding-right: 4px;
    }
}
.suprisebtn:focus {
    background-color: black;
    color: white;
}
.suprise-text {
    font-weight: lighter;
}
.w3-display-topmiddle>span {
    font-size: xx-large;
}
/* Model content  */
/* Add your styles for the modal here */
.modal {
    font-family: serif;
    /* background-color: black; */
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1011%26quot%3b)' fill='none'%3e%3cpath d='M487.058%2c478.974C510.064%2c478.596%2c532.148%2c466.905%2c542.629%2c446.422C552.363%2c427.399%2c544.78%2c405.686%2c534.001%2c387.235C523.347%2c368.998%2c508.175%2c351.709%2c487.058%2c351.301C465.392%2c350.883%2c448.105%2c366.832%2c436.868%2c385.361C425.098%2c404.769%2c417.503%2c428.3%2c428.228%2c448.304C439.428%2c469.194%2c463.358%2c479.364%2c487.058%2c478.974' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M85.354%2c550.132C141.799%2c550.695%2c194.071%2c519.805%2c221.946%2c470.72C249.485%2c422.227%2c249.89%2c361.135%2c219.081%2c314.651C190.901%2c272.134%2c136.321%2c262.579%2c85.354%2c264.634C38.632%2c266.518%2c-5.468%2c285.5%2c-30.916%2c324.729C-58.947%2c367.939%2c-70.21%2c422.266%2c-46.598%2c468.041C-21.146%2c517.383%2c29.837%2c549.578%2c85.354%2c550.132' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1257.473%2c595.558C1295.953%2c594.309%2c1327.014%2c568.932%2c1347.503%2c536.337C1369.746%2c500.95%2c1385.322%2c458.672%2c1367.188%2c421.014C1346.877%2c378.835%2c1304.274%2c350.479%2c1257.473%2c349.372C1208.803%2c348.221%2c1160.898%2c372.436%2c1138.382%2c415.601C1117.192%2c456.224%2c1131.433%2c504.319%2c1156.719%2c542.528C1179.167%2c576.45%2c1216.817%2c596.877%2c1257.473%2c595.558' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M737.037%2c498.48C761.918%2c497.902%2c787.184%2c489.225%2c799.472%2c467.582C811.633%2c446.162%2c804.975%2c420.727%2c793.579%2c398.891C780.999%2c374.786%2c764.224%2c348.358%2c737.037%2c347.947C709.437%2c347.53%2c690.792%2c372.968%2c677.458%2c397.137C664.703%2c420.257%2c655.988%2c447.84%2c669.37%2c470.603C682.621%2c493.142%2c710.898%2c499.087%2c737.037%2c498.48' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1345.804%2c154.032C1367.331%2c152.756%2c1384.135%2c138.71%2c1396.231%2c120.857C1410.593%2c99.659%2c1427.348%2c74.22%2c1415.121%2c51.723C1402.626%2c28.733%2c1371.965%2c27.559%2c1345.804%2c28.073C1320.842%2c28.564%2c1294.254%2c33.168%2c1281.051%2c54.358C1267.219%2c76.557%2c1269.592%2c105.583%2c1283.841%2c127.517C1296.959%2c147.709%2c1321.767%2c155.456%2c1345.804%2c154.032' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M225.302%2c322.658C283.333%2c321.744%2c340.072%2c299.917%2c370.997%2c250.804C404.01%2c198.375%2c411.449%2c130.748%2c379.608%2c77.599C348.498%2c25.671%2c285.743%2c4.25%2c225.302%2c7.61C170.603%2c10.651%2c126.995%2c46.703%2c98.106%2c93.25C67.125%2c143.168%2c42.949%2c204.139%2c71.438%2c255.521C100.52%2c307.973%2c165.334%2c323.602%2c225.302%2c322.658' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M455.891%2c590.677C482.479%2c590.696%2c509.084%2c580.424%2c522.491%2c557.464C535.999%2c534.331%2c533.681%2c504.985%2c519.021%2c482.565C505.6%2c462.04%2c480.386%2c454.425%2c455.891%2c455.612C433.58%2c456.693%2c414.753%2c469.508%2c402.541%2c488.211C388.793%2c509.267%2c377.84%2c535.066%2c389.453%2c557.371C401.715%2c580.922%2c429.339%2c590.658%2c455.891%2c590.677' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M204.346%2c467.816C254.648%2c471.345%2c307.602%2c456.267%2c334.728%2c413.759C363.695%2c368.366%2c363.258%2c308.889%2c335.021%2c263.038C308.005%2c219.17%2c255.832%2c200.172%2c204.346%2c202.049C156.242%2c203.802%2c111.487%2c229.338%2c89.19%2c271.998C68.318%2c311.932%2c79.375%2c358.606%2c102.217%2c397.447C124.679%2c435.642%2c160.145%2c464.715%2c204.346%2c467.816' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M919.079%2c250.089C969.106%2c250.937%2c1004.959%2c206.582%2c1028.156%2c162.25C1049.41%2c121.631%2c1055.467%2c73.465%2c1032.152%2c33.992C1009.192%2c-4.88%2c964.219%2c-23.137%2c919.079%2c-22.422C875.265%2c-21.728%2c833.69%2c-0.623%2c812.047%2c37.479C790.652%2c75.146%2c796.743%2c119.966%2c816.222%2c158.659C838.33%2c202.575%2c869.919%2c249.256%2c919.079%2c250.089' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M413.112%2c494.811C451.663%2c491.676%2c471.701%2c452.917%2c490.52%2c419.126C508.593%2c386.675%2c529.015%2c350.363%2c511.924%2c317.385C493.892%2c282.592%2c452.275%2c268.356%2c413.112%2c269.764C376.426%2c271.083%2c345.379%2c292.968%2c325.885%2c324.074C304.863%2c357.617%2c292.313%2c398.527%2c310.323%2c433.779C329.753%2c471.811%2c370.545%2c498.273%2c413.112%2c494.811' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M483.093%2c298.532C506.432%2c298.658%2c530.264%2c293.271%2c543.718%2c274.2C559.46%2c251.886%2c568.158%2c221.601%2c553.722%2c198.42C539.775%2c176.024%2c509.477%2c176.75%2c483.093%2c176.849C456.965%2c176.947%2c427.07%2c176.695%2c413.378%2c198.948C399.281%2c221.859%2c408.166%2c251.511%2c423.594%2c273.549C436.816%2c292.436%2c460.038%2c298.407%2c483.093%2c298.532' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M458.593%2c166.645C491.791%2c168.001%2c521.559%2c148.602%2c539.369%2c120.553C558.719%2c90.079%2c570.804%2c50.782%2c551.547%2c20.25C533.057%2c-9.065%2c493.246%2c-8.181%2c458.593%2c-7.517C425.583%2c-6.885%2c388.069%2c-4.923%2c371.611%2c23.698C355.182%2c52.269%2c371.36%2c86.235%2c388.492%2c114.39C404.73%2c141.075%2c427.382%2c165.37%2c458.593%2c166.645' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1027.551%2c422.97C1080.367%2c421.705%2c1121.558%2c384.427%2c1149.813%2c339.787C1180.797%2c290.836%2c1209.61%2c230.982%2c1180.934%2c180.644C1152.09%2c130.012%2c1085.635%2c120.493%2c1027.551%2c125.171C977.989%2c129.162%2c937.361%2c159.724%2c911.721%2c202.325C885.086%2c246.58%2c870.699%2c300.164%2c894.707%2c345.897C920.211%2c394.48%2c972.697%2c424.284%2c1027.551%2c422.97' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M715.884%2c309.147C775.865%2c311.615%2c829.95%2c274.335%2c859.65%2c222.164C889.031%2c170.554%2c890.922%2c106.657%2c860.031%2c55.937C830.266%2c7.066%2c773.102%2c-13.191%2c715.884%2c-13.885C657.196%2c-14.596%2c593.994%2c1.026%2c565.554%2c52.367C537.714%2c102.626%2c562.22%2c161.536%2c591.248%2c211.119C619.87%2c260.008%2c659.281%2c306.818%2c715.884%2c309.147' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1011'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e"); */
}.popup-container {
      display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: lighter;
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
 /* From https://css.glass */
background: rgba(160, 84, 84, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5.2px);
-webkit-backdrop-filter: blur(5.2px);
  

  }
  .heardetext{
    font-weight: bold;
  }
  .subtitle{
    font-size: smaller;
  }
  .bodytextcard{
    font-style: normal;
  }
  .popup-card{
    width: fit-content;
    height:fit-content;
  }
  .popup-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    max-width: 80%;
    text-align: center;
  }
  .fadeOut {
    opacity: 0;
    transition: opacity 0.5s ease; /* Adjust duration and timing function as needed */
  }
  
  .close-btn {
    font-size: 16px;
    color: #666;
    text-decoration: none;
   cursor: pointer;
  }
  .close-btn:hover{
    color: gray;
  }
  
  /* Media Query for smaller screens */
  @media only screen and (max-width: 600px) {
    .popup-card {
      max-width: 90%;
    }
  }
#removeShadow {
    box-shadow: none;
    border: none;
    rotate: 90deg;
}
/* #backgroundelement{
    background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
background-repeat: no;
} */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 3.5rem;
    font-weight: lighter;
    font-family: 'Courier New', Courier, monospace;
}
.modal-content {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: none;
}
/* Add any other styles you need for your page */
/* <------------------> */
#cake-poper {
    text-align: center;
}
.suprisebtn {
    background-color: var(--black-color);
    border-radius: 20px;
    border: none;
    outline: none;
    padding-top: 7px;
    padding-bottom: 7px;
    font-weight: bold;
    color: var(--white-color);
    width: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.suprisebtnn {
    background-color: greenyellow;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-top: 10px;
    /* padding-bottom: 5px; */
    font-weight: bold;
    color: darkgreen;
    width: 50%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.suprisebtnn:hover {
    color: rgba(0, 100, 0, 0.61);
}
#askMeInputfield {
    outline: none;
    border: none;
    color: rgb(234, 163, 246);
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    /* From https://css.glass */
    background: rgb(255, 255, 255);
    border-radius: 16px;
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.6px);
    -webkit-backdrop-filter: blur(4.6px);
    border: none; */
}
#askMeInputfield::placeholder {
    color: #000000;
}
.suprisebtn:hover {
    color: white;
    background-color: #333333eb;
}
#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-color);
    /* Change the background color as needed */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    z-index: 9999;
    /* Ensure the loader is on top of other elements */
}
.borderBottom {
    border-bottom: 2px solid var(--white-color);
}
.bi-cake {
    padding-left: 15px;
    font-size: 20px;
    text-align: center;
}
#Shadow {
    rotate: 90deg;
    filter: drop-shadow(0px 6px 14px var(--white-color));
}
.askMeButton {
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: wheat;
    color: var(--black-color);
    font-weight: bolder;
    border-radius: 20px;
    border: none;
    margin-top: 20px;
}
.askMeButton:hover {
    background-color: var(--black-color);
    color: var(--white-color);
    border: 1px solid var(--white-color);
}
/* 
#celebrate-btn{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgb(0, 0, 0);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
}
#celebrate-btn:hover{
background: rgba(255, 255, 255, 0.748);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgb(255, 255, 255);
} */
/* #celebrate-btn{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
background: rgba(233, 255, 64, 0.54);
border-radius: 16px;
box-shadow: 0 4px 30px rgb(0, 0, 0);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
} */
#celebrate-btn {
    /* background: linear-gradient(45deg, rgba(255, 0, 0, 0.5), rgba(0, 255, 0, 0.5), rgba(0, 0, 255, 0.5)); */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--white-color);
    cursor: pointer;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--black-color);
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* animation: grad 3s infinite; */
}
#celebrate-btn:hover {
    background-color: rgb(51, 49, 49);
    color: rgb(255, 255, 255);
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.blinking-arrow-right {
    display: inline-block;
    animation: blink 2800ms infinite;
}
/* 
@keyframes grad {
    0% {
        background: linear-gradient(45deg, rgba(115, 135, 123), rgba(131, 151, 136), rgba(229, 209, 208));
        box-shadow: 10px 10px 94px 0px rgba(247, 247, 247, 0.5);
        -webkit-box-shadow: 10px 10px 94px 0px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 10px 10px 94px 0px rgba(35, 33, 33, 0.5);
        transition: linear;
    }
    25% {
        background: linear-gradient(45deg, rgba(229, 209, 208), rgba(115, 135, 123), rgba(131, 151, 136));
    }
    50% {
        transition: linear;
        background: linear-gradient(45deg, rgba(131, 151, 136), rgba(229, 209, 208), rgba(115, 135, 123));
        box-shadow: 10px 10px 94px 0px rgba(247, 247, 247, 0.5);
        -webkit-box-shadow: 10px 10px 94px 0px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 10px 10px 94px 0px rgba(35, 33, 33, 0.5);
    }
    75% {
        background: linear-gradient(45deg, rgba(115, 135, 123), rgba(131, 151, 136), rgba(229, 209, 208));
    }
    100% {
        background: linear-gradient(45deg, rgba(245, 228, 215), rgba(115, 135, 123), rgba(131, 151, 136));
        transition: linear;
        box-shadow: 10px 10px 94px 0px rgba(247, 247, 247, 0.5);
        -webkit-box-shadow: 10px 10px 94px 0px rgba(255, 255, 255, 0.5);
        -moz-box-shadow: 10px 10px 94px 0px rgba(35, 33, 33, 0.5);
    }
} */